.projectTitleDesc {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.projectBox {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    padding: 5px;
    background-color: transparent;
}

button {
    background-color: green;
    border-radius: 10px;
    border-style: none;
    margin: 3px;
    width: 25%;
}

.projectImage {
    margin-left: 3px;
    border-radius: 10px;
}
